html {
    min-height: 100%; 
}

*, *::before, *::after {
    box-sizing: border-box;
}

header{
    position:sticky;
    top:0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: purple; 
    width:100%;
    height: 10vh; 
}


 #navbar{ 
    height: 100%;
    display: flex;
    justify-content:flex-end;
    align-content: center;
    align-items: center;
    width: auto;
    height: 10vh;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto; 
    min-height: 100vh; 
    margin: 0;
    font-size: 16px; 
}

#main {
    height: 1500px;
    width: 100%;
}

footer {border: 3px solid black;
    background-color: purple;
    color: rgb(230, 225, 225);
    text-align: center;
    padding: 10px;
    margin: 0;
    width: 100%; 
}

.enlaces{text-decoration: none;
    color: rgb(230, 225, 225);
    margin: 5px;
    border-radius: 3px;
    transition: 0.2s;
    transition-timing-function: ease-in-out;

}


.enlaces:hover{background-color: rgb(153, 0, 153);
    text-decoration: underline;
    
}




@media (max-width: 320px) {
    #navbar {
        width: 90%;
    }
    #main {
        grid-template-columns: 1fr; 
    }

}

@media (max-width: 480px) {
    #navbar {
        width: 100%;
    }
    #main {
        grid-template-columns: 1fr; 
    }

}

@media (max-width: 568px) {
    #navbar {
        width: 100%;
    }
    #main {
        grid-template-columns: 1fr; 
    }

}


@media (max-width: 640px) {
    #navbar {
        width: 100%;
    }
    #main {
        grid-template-columns: 1fr; 
    }

}


@media (max-width: 768px) {
    #navbar {
        width: 100%;
    }
    #main {
        grid-template-columns: 1fr; }

}


@media (min-width: 1280px) and (orientation: landscape) {
    #navbar {
        width: 100%;
    }
    #main {
        grid-template-columns: 1fr 1fr; 
    }
}


@media (min-width: 1280px) and (orientation: portrait) {
    #navbar {
        width: 100%;
    }
    #main {
        grid-template-columns: 1fr; 
    }

}

@media (max-width: 1024px) and (orientation: landscape) {
    #navbar {
        width: 100%;
    }
    #main {
        grid-template-columns: 1fr 1fr; 
    }

}

@media (min-width: 1024px) and (orientation: portrait) {
    #navbar {
        width: 100%;
    }
    #main {
        grid-template-columns: 1fr; 
    }

}

@media (min-width: 1440px)  and (orientation: landscape){
    #navbar {
        width: 100%;
    }
    #main {
        grid-template-columns: 1fr 1fr; }

}


@media (min-width: 1440px) and (orientation: portrait) {
    #navbar {
        width: 100%;
    }
    #main {
        grid-template-columns: 1fr; 
    }
   
}